.style_event {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}
.style_event_type {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}



.o_kanban_view.o_kanban_dashboard:not(.o_kanban_grouped) {
    justify-content: center;
    justify-content: unset;
}
.o_kanban_view.o_kanban_dashboard.kanban_class .oe_kanban_card.o_kanban_record {
    padding: 0 5px;
    justify-content: flex-start;
    flex: 0 0;
}
.o_kanban_view.o_kanban_ungrouped .oe_kanban_card.o_kanban_record {
    padding: 0 5px;
    justify-content: flex-start;
}
.o_kanban_view.o_kanban_ungrouped .oe_kanban_card.o_kanban_record .o_primary, .o_kanban_view.o_kanban_ungrouped .oe_kanban_card.o_kanban_record .o_primary > div {
    padding: 0;
}

.o_kanban_view.o_kanban_ungrouped .oe_kanban_card.o_kanban_record .o_primary img {
    height: 100px;
    object-fit: cover;
}
.o_kanban_view .o_kanban_record {
    min-width: 12.5vw !important;
}

.row_space{
   position: relative;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.pb16 {
    padding:0px !important
}

li.o_MessagingMenu {
    display: none !important;
}
li.o_mail_systray_item.o_no_notification {
    display: none;
}